<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Xác nhận đơn hàng</h1>
    <p>Cảm ơn quý khách đã đặt hàng</p>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-start">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng giá</th>
        </tr>
      </thead>
      <tbody>
        <th>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://media.wired.com/photos/5fd7e26300c45b72f4a68f44/master/w_1600,c_limit/Gear-Flex-5-Chromebook-13-Headon-SOURCE-Lenovo.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000đ</td>
            <td>200,000đ</td>
          </tr>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://media.wired.com/photos/5fd7e26300c45b72f4a68f44/master/w_1600,c_limit/Gear-Flex-5-Chromebook-13-Headon-SOURCE-Lenovo.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000đ</td>
            <td>200,000đ</td>
          </tr>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://media.wired.com/photos/5fd7e26300c45b72f4a68f44/master/w_1600,c_limit/Gear-Flex-5-Chromebook-13-Headon-SOURCE-Lenovo.jpg"
                  alt=""
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000đ</td>
            <td>200,000đ</td>
          </tr>
        </th>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-gradient">Tiếp tục mua sắm</button>
  </div>
</div>

<app-footer></app-footer>
