<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Xác nhận đơn hàng</h1>
    <p>Cảm ơn quý khách đã đặt hàng</p>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-start">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng giá</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pair of getCartItems()">
          <td>
            <div class="product-info">
              <img
                src="{{ productList.get(pair[0])?.thumbnail }}"
                alt=""
                class="product-image"
              />
              <span class="product-name">Tên sản phẩm</span>
            </div>
          </td>
          <td>{{ pair[1] }}</td>
          <td>${{ productList.get(pair[0])?.price }}</td>
          <td>${{ getTotal(pair[0]) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-gradient">Tiếp tục mua sắm</button>
  </div>
</div>

<app-footer></app-footer>
