<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="login-form mx-auto">
        <h2 class="login-header">Đăng nhập</h2>
        <div class="form-group">
          <label for="email" class="form-label">Email/Phone</label>
          <input type="email" class="form-control" id="email" />
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>
        <div class="form-group password-field">
          <label for="password" class="form-label">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Nhập ít nhất 3 ký tự"
          />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>

        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex">
              <input type="checkbox" class="form-check-input" id="remember" />
              <label class="form-check-label text-start" for="remember"
                >Ghi nhớ đăng nhập</label
              >
            </span>
            <a href="#" class="register-link">Quên mật khẩu</a>
          </div>
        </div>
        <div class="form-group">
          <select class="form-control access-right">
            <option selected disabled>Quyền đăng nhập</option>
            <option>Người dùng</option>
            <option>Quản trị viên</option>
          </select>
        </div>
        <button type="button" class="btn-gradient">Đăng nhập</button>
        <div class="devider"></div>
        <p class="text-center">
          Bạn chưa đăng ký?
          <span> <a class="register-link" href="#">Tạo tài khoản</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
