
  .intro-section {
    text-align: center;
    color: white;
    padding: 20px;
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .product-category {
    width: 200px;
  }
  .search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  .search-btn{
    background-color: rgb(127,68,255);
    color: white;
    margin-left: 20px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .search-btn:hover{
    background-color: rgb(242, 68, 212);
    transition: 0.5s;
  }
  .form-control {
    background-color: transparent;
    color: white;
  }
  .product-not-found{
    text-align: center;
  }
  .pagination-nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .product-category option {
    background-color: rgb(19, 23, 42);
    color: white;
  }
.btn-primary{
  background-color: (127,68,255);
}
  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  .product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .product-name {
    color: white;
  }
  .product-description {
    color: rgb(173, 178, 203);
  }
  .product-warranty {
    color: rgb(242, 126, 212);
  }
  .product-price {
    color: white;
  }

  .product-rating {
    color: rgb(238, 220, 54);
    margin-top: 10px;
  }
  .product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .space-x {
    margin: 0 5px;
  }
  .pagination .page-item .page-link {
    color: #ededf0; /* Default text color */
    background-color:  rgb(242, 68, 212); /* Default background color */
    border-color:  rgb(127,68,255); /* Default border color */
}

.pagination .page-item.active .page-link {
    color: #fff; /* Color of the text in the active page item */
    background-color:  rgb(127,68,255); /* Background color of the active page item */
    border-color:  rgb(127,68,255); /* Border color of the active page item */
}

.pagination .page-item:hover .page-link {
    color:  rgb(127,68,255); /* Color on hover */
    background-color:  rgb(242, 126, 212);; /* Background color on hover */
    border-color:  rgb(242, 126, 212);; /* Border color on hover */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Color of the disabled page item */
    background-color: #fff; /* Background color of the disabled page item */
    border-color: #dee2e6; /* Border color of the disabled page item */
}
