<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Shop App</h1>
    <p>Hiển thị danh sách</p>
    <p>Chọn xem sản phẩm và mua hàng</p>
  </div>
  <!-- Search box bên trái, combobox bên phải hiện category -->
  <div class="search-box">
    <input
      type="text"
      placeholder="Tìm sản phẩm"
      class="form-control search-input"
    />
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Hải sản</option>
      <option>Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://media.wired.com/photos/64daad6b4a854832b16fd3bc/master/w_1920,c_limit/How-to-Choose-a-Laptop-August-2023-Gear.jpg"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Rất đẹp trai</p>
        <p class="product-warranty">Bảo hành: trọn đời</p>
        <p class="product-price">Giá: 100.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://media.wired.com/photos/64daad6b4a854832b16fd3bc/master/w_1920,c_limit/How-to-Choose-a-Laptop-August-2023-Gear.jpg"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Rất đẹp trai</p>
        <p class="product-warranty">Bảo hành: trọn đời</p>
        <p class="product-price">Giá: 100.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://media.wired.com/photos/64daad6b4a854832b16fd3bc/master/w_1920,c_limit/How-to-Choose-a-Laptop-August-2023-Gear.jpg"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Rất đẹp trai</p>
        <p class="product-warranty">Bảo hành: trọn đời</p>
        <p class="product-price">Giá: 100.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://media.wired.com/photos/64daad6b4a854832b16fd3bc/master/w_1920,c_limit/How-to-Choose-a-Laptop-August-2023-Gear.jpg"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Rất đẹp trai</p>
        <p class="product-warranty">Bảo hành: trọn đời</p>
        <p class="product-price">Giá: 100.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
